<div class="card-consulta">
    <mat-card class="mat-card-component">
        <div class="container">
            <div class="row-2">
                <div class="col">
                    <button mat-flat-button (click)="medicina()" class="button-size" color="primary">
                        MEDICINA INTERNA/CLÍNICA GERAL
                    </button>
                </div>
            </div>
<br>
            <div class="row">
                <div class="col">
                    <button mat-flat-button (click)="odontologica()" class="button-size" color="primary">
                        ODONTOLOGIA
                    </button>
                </div>
            </div>
<br>
            <div class="row">
                <div class="col">
                    <button mat-flat-button (click)="covid()" class="button-size" color="primary">
                        TESTE COVID
                    </button>
                </div>
            </div>
        </div>
    </mat-card>
</div>