.example-spacer {
    flex: 1 1 auto;
  }

  .background {
      background-color: #9CCFBA;
  }

  .user {
      margin-left: 10px;
  }
  .icon-color {
    color: white;
  }

  .text-font {
    color: white;
  }