.cartao-virtual {
    background-image: url('../../../assets/cartao.jpg');
    width: 30%;
};

.align {
    margin-left: 10%
}

.cartao-content {
    color: #302F2F;
}

body {
    overflow-y: hidden;
    overflow-x: hidden
}
