<!DOCTYPE html>
<html lang="en">
<body>
    <div class="container">
        <div class="row">
            <div class="col titulo">
                <span>Avaliações</span>
            </div>
        </div>
    </div>

    <div>
        <mat-card class="mat-card-component">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <span class="bold">Nenhuma avaliação disponível.</span>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
</body>
</html>