<div class="container">
    <div class="row">
        <div class="col titulo">
            <span>Veja aqui suas vacinas</span>
        </div>
    </div>
</div>

<div class="card-consulta">
    <mat-card>
        <div class="container">
            <div class="row">
                <div class="col">
                    <button class="col-12" mat-flat-button color="primary">
                        ADMINISTRADAS
                    </button>
                </div>
            </div>
<br>
            <div class="row">
                <div class="col">
                    <button class="col-12" mat-flat-button color="primary">
                        APRAZADAS
                    </button>
                </div>
            </div>
<br>
            <div class="row">
                <div class="col">
                    <button mat-flat-button class="col-12" color="primary">
                        CALENDÁRIO VACINAL
                    </button>
                </div>
            </div>
        </div>
    </mat-card>
</div>